# Add any local file dir here to avoid commit of shortcuts etc

__pycache__/
db.sqlite3
*.log
.venv/
env/
venv/
x_notes*.txt
staticfiles/
.windsurf/
.env
media/

# Terraform
infra/.terraform/
infra/*.tfstate
infra/*.tfstate.backup
infra/.terraform.lock.hcl
infra/terraform.tfvars